<a href="https://colab.research.google.com/github/vamsiteja142/Predicting-The-Costs-Of-Used-Cars-SVR-/blob/master/Predicting_The_Costs_Of_Used_Cars1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np

In [107]:
from google.colab import files
upload = files.upload()

Saving Data_Train.xlsx to Data_Train (2).xlsx

In [0]:
dataset = pd.read_excel('Data_Train.xlsx')

In [109]:
dataset.head()

                               Name    Location  Year  ...  Seats  New_Price  Price
0            Maruti Wagon R LXI CNG      Mumbai  2010  ...    5.0        NaN   1.75
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  ...    5.0        NaN  12.50
2                      Honda Jazz V     Chennai  2011  ...    5.0  8.61 Lakh   4.50
3                 Maruti Ertiga VDI     Chennai  2012  ...    7.0        NaN   6.00
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  ...    5.0        NaN  17.74

[5 rows x 13 columns]

In [110]:
dataset.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [0]:
dataset = dataset[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
        'Price']]

In [112]:
dataset.head()

                               Name    Location  Year  ...      Power Seats  Price
0            Maruti Wagon R LXI CNG      Mumbai  2010  ...  58.16 bhp   5.0   1.75
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  ...  126.2 bhp   5.0  12.50
2                      Honda Jazz V     Chennai  2011  ...   88.7 bhp   5.0   4.50
3                 Maruti Ertiga VDI     Chennai  2012  ...  88.76 bhp   7.0   6.00
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  ...  140.8 bhp   5.0  17.74

[5 rows x 12 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [114]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
Name                 6019 non-null object
Location             6019 non-null object
Year                 6019 non-null int64
Kilometers_Driven    6019 non-null int64
Fuel_Type            6019 non-null object
Transmission         6019 non-null object
Owner_Type           6019 non-null object
Mileage              6017 non-null object
Engine               5983 non-null object
Power                5983 non-null object
Seats                5977 non-null float64
Price                6019 non-null float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

In [0]:
dataset[['Name', 'Location', 'Fuel_Type','Transmission', 'Owner_Type']] = dataset[['Name', 'Location', 'Fuel_Type','Transmission', 'Owner_Type']].apply(LabelEncoder().fit_transform)

In [116]:
dataset.head()

   Name  Location  Year  Kilometers_Driven  ...   Engine      Power  Seats  Price
0  1200         9  2010              72000  ...   998 CC  58.16 bhp    5.0   1.75
1   512        10  2015              41000  ...  1582 CC  126.2 bhp    5.0  12.50
2   486         2  2011              46000  ...  1199 CC   88.7 bhp    5.0   4.50
3  1059         2  2012              87000  ...  1248 CC  88.76 bhp    7.0   6.00
4    23         3  2013              40670  ...  1968 CC  140.8 bhp    5.0  17.74

[5 rows x 12 columns]

In [117]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
Name                 6019 non-null int64
Location             6019 non-null int64
Year                 6019 non-null int64
Kilometers_Driven    6019 non-null int64
Fuel_Type            6019 non-null int64
Transmission         6019 non-null int64
Owner_Type           6019 non-null int64
Mileage              6017 non-null object
Engine               5983 non-null object
Power                5983 non-null object
Seats                5977 non-null float64
Price                6019 non-null float64
dtypes: float64(2), int64(7), object(3)
memory usage: 564.4+ KB

In [0]:
dataset['Engine'] = dataset['Engine'].str.extract(r'(\d+)').astype(float)

In [0]:
dataset['Mileage'] = dataset['Mileage'].str.replace(r'[^\d].[^\d]+', '').astype(float)

In [0]:
dataset['Power'] = dataset['Power'].str.replace(r'[^\d].[^\d]+', '')

In [0]:
dataset['Power'] = pd.to_numeric(dataset['Power'], errors='coerce')

In [123]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
Name                 6019 non-null int64
Location             6019 non-null int64
Year                 6019 non-null int64
Kilometers_Driven    6019 non-null int64
Fuel_Type            6019 non-null int64
Transmission         6019 non-null int64
Owner_Type           6019 non-null int64
Mileage              6017 non-null float64
Engine               5983 non-null float64
Power                5876 non-null float64
Seats                5977 non-null float64
Price                6019 non-null float64
dtypes: float64(5), int64(7)
memory usage: 564.4 KB

In [124]:
dataset.head()

   Name  Location  Year  Kilometers_Driven  ...  Engine   Power  Seats  Price
0  1200         9  2010              72000  ...   998.0   58.16    5.0   1.75
1   512        10  2015              41000  ...  1582.0  126.00    5.0  12.50
2   486         2  2011              46000  ...  1199.0   88.00    5.0   4.50
3  1059         2  2012              87000  ...  1248.0   88.76    7.0   6.00
4    23         3  2013              40670  ...  1968.0  140.00    5.0  17.74

[5 rows x 12 columns]

In [0]:
dataset = dataset.fillna(0) 
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [135]:
x.head()

   Name  Location  Year  Kilometers_Driven  ...  Mileage  Engine   Power  Seats
0  1200         9  2010              72000  ...    26.00   998.0   58.16    5.0
1   512        10  2015              41000  ...    19.67  1582.0  126.00    5.0
2   486         2  2011              46000  ...    18.00  1199.0   88.00    5.0
3  1059         2  2012              87000  ...    20.77  1248.0   88.76    7.0
4    23         3  2013              40670  ...    15.00  1968.0  140.00    5.0

[5 rows x 11 columns]

In [136]:
y

0        1.75
1       12.50
2        4.50
3        6.00
4       17.74
        ...
6014     4.75
6015     4.00
6016     2.90
6017     2.65
6018     2.50
Name: Price, Length: 6019, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.svm import SVR
svr = SVR(kernel = 'rbf')

In [160]:
svr.fit(x_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
y_pred = svr.predict(x_test)

In [163]:
def rmsle(y_test, y_pred):
  error = np.square(np.log10(y_pred + 1) - np.log10(y_test + 1)).mean()**0.5
  score = 1 - error
  return score
print(rmsle(y_test, y_pred))

0.6792806333598891

In [139]:
from google.colab import files 
upload = files.upload()

Saving Data_Test.xlsx to Data_Test.xlsx

In [0]:
test = pd.read_excel('Data_Test.xlsx')

In [0]:
test = test[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
        ]]

In [0]:
test[['Name', 'Location', 'Fuel_Type','Transmission', 'Owner_Type']] = test[['Name', 'Location', 'Fuel_Type','Transmission', 'Owner_Type']].apply(LabelEncoder().fit_transform)

In [0]:
test['Engine'] = test['Engine'].str.extract(r'(\d+)').astype(float)
test['Mileage'] = test['Mileage'].str.replace(r'[^\d].[^\d]+', '').astype(float)
test['Power'] = test['Power'].str.replace(r'[^\d].[^\d]+', '')
test['Power'] = pd.to_numeric(test['Power'], errors='coerce')

In [0]:
test = test.fillna(0)

In [169]:
test.dtypes

Name                   int64
Location               int64
Year                   int64
Kilometers_Driven      int64
Fuel_Type              int64
Transmission           int64
Owner_Type             int64
Mileage              float64
Engine               float64
Power                float64
Seats                float64
dtype: object

In [0]:
test_pred = svr.predict(test)

In [171]:
test_pred

array([5.91213939, 5.36664326, 6.4792862 , ..., 6.4971793 , 5.53436028,
       5.09818457])